# Python (компіляційні файли)
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# IDE (налаштування редакторів)
.idea/
.vscode/
*.swp

# Дані проекту (Логи та конфіги)
# Ми ігноруємо сам CSV файл, щоб він не роздував репозиторій
*.csv
# Якщо ти не хочеш ділитися своїми налаштуваннями пар (опціонально)
# config.json 

# Системні файли
.DS_Store
Thumbs.db